* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}



.menu {
    margin-bottom: 109px;
    padding: 33px 0 23px 30px;
    background: #60C1BD;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;

}

nav ul {
    display: flex;
}

.link {
    margin-bottom: 33px;
}

nav ul .link {
    margin-bottom: 33px;
    color: #284854;
    font-size: 18px;

}


.logo {

    font-size: 30px;
    color: #fff;
}

.active666 {
    transform: translateX(0%);
}

.кнопка {
    margin-top: 21px;
    margin-right: 60px;
    background: transparent;
    width: 70px;
    height: 24px;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.кнопка {
    border: 1px solid #fff;
}

nav {
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}



.button {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
}

header {
    padding-bottom: 200px;
    background: #284854;

}

.парагрф__1 {


    font-size: 85px;
    line-height: 102px;
    color: #8BC441;
}

.text__1 {

    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.img__1 {
    width: 100%;
}

.img__2 {
    width: 20%;
}

.card__1 {
    width: 100%;
    display: flex;
    background: #F4F6F0;
    border-radius: 4px;
    padding: 45px 0 45px 30px;
    align-items: center;
    margin-top: -85px;
}

.card__2 {
    width: 405px;
    height: 114px;
    background: #F4F6F0;
    border-radius: 4px;
}

.card-text__1 {
    margin-left: 29px;
}

.card-text__2 {
    margin-left: 29px;
}

.парагрф__2 {
    font-size: 37px;
    line-height: 43px;
    color: #8BC441;
}

.парагрф__3 {
    font-size: 37px;
    line-height: 43px;
    color: #8BC441;
}

.text__2 {
    color: #60C1BD;
}

.text__3 {
    color: #60C1BD;
}

.text__4 {
    margin-top: 174px;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #60C1BD;
}

.парагрф__4 {
    font-weight: bold;
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    color: #284854;
}

.img__center {
    text-align: center;
}

.img__4 {
    margin-top: 140px;
}

.block_text-1 {
    margin-top: 145px;
}

.text__5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #798B56;
}

.парагрф__5 {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #8BC441;
}

.text__6 {
    margin-top: 33px;
    font-size: 16px;
    line-height: 29px;
    color: #284854;
}

.block_text-2 {
    margin-top: 98px;
}

.img__5 {
    margin-top: 137px;
}

.text__7 {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #798B56;
}

.парагрф__6 {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #8BC441;
}

.text__8 {
    margin-top: 33px;
    font-size: 16px;
    line-height: 29px;
    color: #284854;
}

.img__6 {
    margin-bottom: 80px;
    margin-top: 128px;
}

.block_text-2 {
    margin-top: 93px;
}

.text__9 {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #798B56;
}

.парагрф__7 {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #8BC441;
}

.text__10 {
    margin-top: 33px;
    font-size: 16px;
    line-height: 29px;
    color: #284854;
}

.the-end {
    background: #F4F6F0;
    padding-bottom: 151px;
    padding-top: 78px;
}

.are {
    margin-top: 78px;
    font-weight: bold;
    font-size: 22px;
    line-height: 5px;
    color: #60C1BD;
}

.our {
    margin-bottom: 31px;
    font-weight: bold;
    font-size: 55px;
    line-height: 64px;
    color: #284854;
}

.team {
    font-size: 18px;
    line-height: 32px;
    color: #284854;
}

.iner {
    margin-top: 58px;
    font-size: 16px;
    line-height: 22px;
    color: #60C1BD;
    background: transparent;
    border: 2px solid #60C1BD;
}

.klas {
    margin-top: 82px;
    width: 100%;
}



.game {
    background: #8BC441;
}

.good {
    font-size: 55px;
    line-height: 64px;
    color: #FFFFFF;
}

.body {
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.right {
    margin-top: 11px;
    padding-top: 86px;
    padding-bottom: 86px;
}

.game-over {
    background: #E5E5E5;
}

.lgbt {
    margin-top: 120px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #284854;
}

.portal__1 {
    font-size: 14px;
    line-height: 40px;
    color: #60C1BD;
}

.portl__2 {
    margin-right: 21px;
    font-size: 14px;
    line-height: 19px;
    color: #60C1BD;
    
}

.fon__img {
    margin-top: 100px;
}

.indevets {
    margin-top: 37px;
}

.portal{
 
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;

}

.portal li{
    width: 100%;
}

@media (max-width:785px) {
    .button {
        border-radius: 50px;
        margin-right: 25px;
        width: 70px;
        height: 40px;
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        background: #60C1BD;
        width: 30%;
        height: 100%;
        padding: 50px;
        justify-content: center;
        align-items: center;
        transform: translateX(+100%);
        transition: 1s;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul .link {
        display: flex;
    }


}

@media (max-width:991px) {
    .парагрф__1 {
        font-size: 31px;
        line-height: 39px;
    }

    .text__1 {
        font-size: 19px;
        line-height: 20px;
    }

    .img__1 {
        width: 84%;
    }

}

@media (max-width:991px) {
    header {
        height: 500px;
    }

    .card__1 {
        margin-top: -48px;
        padding: 26px 0 27px 9px;
    }

    .dog {
        order: 1;
    }

    .media {
        order: -1;
    }

    .game-over {

        text-align: center;
    }
}

@media (max-width:767px) {
    .img__1 {
        display: none;
    }

    .card__1 {
        margin-top: 20px;
        padding: 26px 0 27px 30px;
    }
    .portal{
        margin-top: 12px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .fon__img{
        margin-top: 13px;
    }

    .lgbt{
        margin-top: 42px;
    }
}

@media (max-width:400px) {
    .img__4 {
        margin-top: 20px;
    }

    .img__5 {
        margin-top: 20px;
    }

    .img__6 {
        margin-top: 20px;
    }

    .block_text-1 {
        margin-top: 30px;
    }

    .block_text-2 {
        margin-top: 30px;
    }
}

@media (max-width:360px) {
    .кнопка {
        display: none;
    }

    .logo {
        font-size: 21px;
    }
}

@media (max-width:366px) {
    .парагрф__2 {
        font-size: 20px;
        line-height: 10px;
    }

}

@media (max-width:958px) {
    .cl {
        width: 60%;
        text-align: center;
    }

    .frame {
        width: 60%;
    }
}

@media (max-width:448px) {
    .our {
        font-size: 37px;
        line-height: 31px;
    }

    .are {
        font-size: 14px;
        line-height: 2px;
    }

    .team {
        font-size: 15px;
        line-height: 27px;
    }

    .iner {
        margin-top: 1px;
        font-size: 12px;
        line-height: 20px;
    }

    .good {
        font-size: 32px;
        line-height: 46px;
    }
}